body
{
	font-size:19px;
	background-color: red;
}


table
{
	width:45%;
	margin:30px auto;
	border-collapse:collapse;
	text-align: left;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

tr
{
	border-bottom: 1px solid #cbcbcb;
}

th,td
{
	border:none;
	height: 30px;
	padding: 2px;
}

tr:hover
{
	background: #FSFSFS;
}